.container {
	@apply flex 
		flex-col;
}

.label {
	@apply flex
		flex-col
		mb-0.5
		font-semibold
		text-opacity-80;
}

.field {
	border: 1px solid #1a6575aa;
	@apply font-medium
		px-2.5
		py-1
		text-opacity-100
		transition-colors
		focus:outline-none
		focus:shadow-outline-primary
		focus:bg-transparent
		focus:rounded
		focus:border-primary;
}

.field[name='email']:not(:focus),
.field[name='fullname']:not(:focus) {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.field[name='message'] {
	@apply py-2 rounded mt-4;
}
